*{
    margin:0;
    padding:0;
    
   
}

.main{
    background: url("D:/codesoft/Portfolio/portfoliobg.jpg");
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
}


header{
    position: relative;
    height: 5%;
}

.nav{
    font-size: larger;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    
}



#portfolio{
font-size: xx-large;
flex-direction: row;
font-weight: 900;
margin:10px 185px;
 color:white;
text-decoration: none;

}


.navicons {
    display: flex;
    flex-direction: row;
}

.navicons a{
    color:#B69D74;
     margin:10px 70px;
     text-decoration: none;
}


.box{
    position: relative;
    height:90%;
    width:95%;
    background-color: #151a22;
    border-radius: 30px;
    opacity: 0.8;
   
}
#profile{
    position: relative;
    height:400px;
    width:400px;
    opacity: 0.9;
    margin: 0px 50px;
    border: 2px white;
    border:5px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    transition:0.5s;
}

#profile:hover{
    box-shadow: 0px 0px 30px #888888;
    opacity:1 ;
}

.info{
    position: relative;
    display:flex;
    height: 90%;
    flex-direction: row;
    
    align-items: center;
}


.text{
    color:aliceblue;
     font-family: "Open Sans", sans-serif;
     font-weight: 700;
     font-size: 4rem;
     position: relative;
}

.fd{
    color: #B69D74;
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
     font-weight: 700;
}

.bio{
   position:relative;
   
}

.biotext{
    position:relative;
    color:white;
    font-size: medium;
    font-family: "Open Sans", sans-serif;
    padding-top: 2rem;
    padding-right: 8rem;
    padding-bottom: 2rem;
    padding-left: 0;
    font-size: 20px;

}


.social_media{
    padding-left:13rem;
    margin-bottom: -1rem;
    padding-top: 0;
    z-index: 1000;

}
.social_media i{
    color:white;
    padding-left:7px;
    padding-right: 7px;
    font-size: 30px;
    opacity: 0.7;
    transition:opacity 0.3s;
}

.social_media i:hover{
    opacity: 1;
}
.dbutton{
    color:#151a22;
    background-color: #B69D74;
    padding:10px 18px;
    border-radius: 13px;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size:15px ;
    cursor: pointer;
}

.pbutton{
    background-color:#151a22;
    color: #B69D74;
    padding:10px 18px;
    border-radius: 13px;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size:15px ;
    border:2px solid #B69D74;
    margin-left: 1rem;
    cursor: pointer;
}

footer{
    position: relative;
    height:5%;
    
   
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.copyright{
display: flex;
gap:1rem;
padding-right:3rem;
color: white;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
